
:root {
    --header-background: #35424a;
    --link-color: #e8491d;
    --text-color: #333;
    --background-color: #f4f4f4;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}


header {
    background: var(--header-background);
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

nav {
    background: var(--header-background);
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    background: var(--link-color);
    transition: background 0.3s;
}


main {
    padding: 20px;
    background: #ffffff;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h2 {
    color: var(--header-background);
}

h4 {
    color: var(--link-color);
}


p {
    margin: 10px 0;
    color: var(--text-color);
}


.imagen-terrestre {
    display: block;
    margin: 20px auto;
    width: 80%;
    height: auto;
    border: 3px solid var(--header-background);
    border-radius: 10px;
    transition: transform 0.3s; 
}



footer {
    text-align: center;
    padding: 10px 0;
    background: var(--header-background);
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}