
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}
h1 {
    margin: 0;
}


nav {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    background: #e8491d;
    transition: background 0.3s;
}


main {
    padding: 20px;
    background: #ffffff;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h2 {
    color: #35424a;
}

h4 {
    color: #e8491d;
}

p {
    margin: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
}


footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}
.imagen_Espacio {
    display: block;
    margin: 20px auto;
    width: 80%;
    height: auto;
    border: 3px solid var(--header-background);
    border-radius: 10px;
    transition: transform 0.3s; 
}